<div class="col-4 col-sm-2 me-5 mb-3">
    <!-- card 1 -->
    <div class="card rounded bg-light border">

        <div class="mobile-image-wrapper-1 img-hover-zoom img-hover-zoom--quick-zoom">
            <a href="product.ejs">
                <img src="<%= product.Image %>" class="card-img-top" alt="The Simpsons game poster">
            </a>
        </div>

        <div class="card-body pb-3">
            <div class="d-flex justify-content-between mt-3 mb-2">

                <h5><%= product.pname %></h5>
                <a class="bi-heart" onclick="change_heart(this)" style=" cursor: pointer; " href="/add-to-wishlist/<%= product._id %>"></a>
            </div>

            <div class="mb-2">
                <span class="text-dark  ">
                    <i class="fa-solid fa-star" style="color: #ffea00;"></i>
                    <i class="fa-solid fa-star" style="color: #ffea00;"></i>
                    <i class="fa-solid fa-star" style="color: #ffea00;"></i>
                    <i class="fa-solid fa-star" style="color: #ffea00;"></i>
                    <i class="fa-sharp fa-regular fa-star"></i> (234)
                </span>
            </div>

            <div class="mb-2">
                <h5 class=" text-muted "><%= product.Price %> EGP</h5>
            </div>

            <div class="mt-3">
                <!-- <button class="btn btn-dark ">Add To Cart </button> -->
                <a class="btn btn-dark" style=" cursor: pointer; " href="/user/add-to-cart/<%= product._id %>">Add To Cart </a>
            </div>

        </div>
    </div>
</div>