<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/Head.ejs") %>
</head>

<body>
    <%- include("../partials/Nav.ejs") %>


        <section class="pt-5 pb-5 ">
            <div class="container bg-light rounded shadow">
                <div class="row w-100">
                    <div class="col-lg-12 col-md-12 col-12">
                        <h3 class="display-5 mb-2 text-center">Shopping Cart</h3>
                        <p class="mb-5 text-center">
                            <% if(products===undefined){%>
                                <i class="text-info font-weight-bold">
                                    <%= qt%>
                                </i> items in your cart
                        </p>
                        <% } else { %>
                            <i class="text-info font-weight-bold">
                                <%= qt%>
                            </i> items in your cart</p>
                            <table id="shoppingCart" class="table table-condensed table-responsive">
                                <thead>
                                    <tr>
                                        <th style="width:60%">Product</th>
                                        <th style="width:12%">Price</th>
                                        <th style="width:10%">Quantity</th>
                                        <th style="width:16%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(products !=undefined ){%>
                                        <% products.forEach((product)=> { %>
                                            <%- include('../partials/cart_card', { product: product }) %>
                                                <% }); %>
                                                    <% } %>
                                </tbody>
                            </table>

                            <div class="float-right text-right">
                                <h4>Subtotal:</h4>
                                <h1>
                                    <%= subtotal %>
                                </h1>
                            </div>
                    </div>
                </div>
                <div class="row mt-4 d-flex align-items-center">
                    <div class="col-sm-6 order-md-2 text-right">
                        <a href="/user/Checkout" class="btn btn-dark mb-4 btn-lg pl-5 pr-5">Checkout</a>
                    </div>
                    <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                        <a href="/user/products" class="btn btn-dark">Continue Shopping</a>
                    </div>
                </div>
            </div>
            <% } %>
        </section>


        <%- include("../partials/Top_Function.ejs") %>
            <%- include("../partials/Footer.ejs") %>
</body>

</html>