<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/Head.ejs") %>
</head>
<body>
    <%- include("../partials/Nav.ejs") %>

//username email pass
 <form action="" method="post" enctype="multipart/form-data">
<input type="hidden" name="user_id" vale="<% user._id %>">
<input type="text" name="name" value="<%= user.name%>" placeholder="enter name " required>
<br><br>
<input type="email" name="email" value="<%= user.email %>" placeholder=" enter email" required >
<br><br>
<input type="password" name="password" value="<% user.password %>" placeholder="password">
<br><br>
<input type="submit" value="update profile">
</form>
   <!-- end -->
   <%- include("../partials/Top_Function.ejs") %>
    
</body>
</html>